// colors

$primary-color-100: hsla(357, 100%, 21%, 1);
$primary-color-90: hsla(358, 100%, 13%, 1);
$primary-color-80: hsla(355, 100%, 29%, 1);
$primary-color-70: hsla(358, 81%, 45%, 1);
$primary-color-60: hsla(0, 77%, 53%, 1);
$primary-color-50: hsla(3, 100%, 65%, 1);
$primary-color-40: hsla(5, 100%, 75%, 1);
$primary-color-30: hsla(6, 100%, 84%, 1);
$primary-color-20: hsla(6, 100%, 92%, 1);
$primary-color-10: hsla(9, 100%, 96%, 1);

$secondary-color-100: hsla(0, 0%, 9%, 1);
$secondary-color-90: hsla(0, 0%, 15%, 1);
$secondary-color-80: hsla(0, 0%, 22%, 1);
$secondary-color-70: hsla(0, 0%, 32%, 1);
$secondary-color-60: hsla(0, 0%, 44%, 1);
$secondary-color-50: hsla(0, 0%, 55%, 1);
$secondary-color-40: hsla(0, 0%, 66%, 1);
$secondary-color-30: hsla(0, 0%, 78%, 1);
$secondary-color-20: hsla(0, 0%, 88%, 1);
$secondary-color-10: hsla(0, 0%, 96%, 1);

$alert-dark: hsla(6, 100%, 96%, 1);
$alert-base: hsla(0, 95%, 76%, 1);
$alert-light: hsl(359, 46%, 56%);

// $alert-dark: hsla(359, 46%, 56%, 1);
// $alert-base: hsla(0, 95%, 76%, 1);
// $alert-light: hsla(6, 100%, 96%, 1);

$success-dark: hsla(47, 100%, 87%, 1);
$success-base: hsl(95, 85%, 52%);
$success-light: hsla(68, 15%, 49%, 1);
$success-green: hsl(137, 90%, 35%);

$warning-dark: hsla(25, 100%, 94%, 1);
$warning-base: hsla(30, 83%, 59%, 1);
$warning-light: hsla(31, 66%, 49%, 1);

$info-dark: hsla(240, 100%, 97%, 1);
$info-base: hsla(228, 100%, 78%, 1);
$info-light: hsla(228, 48%, 57%, 1);

$custom-yellow-color: hsla(45, 100%, 63%, 1);
$custom-blue-color: #A5C3D2;
$link-blue-color: hsla(220, 100%, 50%, 1);

$white: hsla(0, 0%, 100%, 1);
